<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid ">
    <button class="navbar-toggler sm-screen1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="#" class="brand mx-auto">ONCO.com</a>
    <div class="left-nav sm-screen2">
      <ul>
        <li> <a href="tel:+919982773822"><i class="fas fa-phone-alt mx-2"></i>+919982773822</a></li>
        <li> <a href="tel:+919982773822"><i class="far fa-comments mx-2"></i>+919982773822</a></li>
        <li> <a href="tel:+919982773822"> <i class="far fa-user mx-2"></i> Hello, {{username}}</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid p-0 m-0 overflow-hidden">
  <app-know-your-doctors></app-know-your-doctors>
  <app-free-assessments></app-free-assessments>
  <app-your-journey></app-your-journey>
</div>



