<div class="main">
    <div class="row">
        <div class="col left-col">
            <div class="title">
                <p class="title-header color-white">Get <strong>FREE</strong> Priliminery <br/> Assessment of your Cancer </p>

                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti omnis sapiente magni incidunt eveniet deleniti commodi libero laudantium fuga eum fugiat sed pariatur odit quo, officiis exercitationem at, maiores culpa!</p>
            </div>
        </div>
        <div class="col right-col">
            <div class="title px-3 py-2">
                <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">What type of cancer?<sup>*</sup>  </label>
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>Select</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">What stage of cancer?<sup>*</sup></label>
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>Select</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect2">What is patient's general condition?<sup>*</sup></label>
                      <select class="form-control" id="exampleFormControlSelect2">
                        <option>Select</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>

                    <p>Select treatment received so far</p>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input regular-checkbox" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Surgery</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input regular-checkbox" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Chemotherapy</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input regular-checkbox" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">Radiation</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input regular-checkbox" type="checkbox" id="inlineCheckbox4" value="option3">
                        <label class="form-check-label" for="inlineCheckbox4">Treatment not yet started</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input regular-checkbox" type="checkbox" id="inlineCheckbox5" value="option3">
                        <label class="form-check-label" for="inlineCheckbox5">Others</label>
                      </div>
                      <button class="btn btn-primary btn-lg mt-4"> Show Preliminery Assessment</button>
                  </form>
            </div>
        </div>
    </div>
</div>
